#lista-arquivos {
    background-color: rgb(34, 34, 34);
    font-size: 100%;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
    width: 80%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

#lista-arquivos li:hover {
    background-color: #535353;
    border-style: solid;
    border-color: rgba(102, 214, 255, 0.83);
    border-width: 2px;
}

.link-download {
    color: #00acee;
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
    text-align: center;
}

.link-download:hover {
    text-decoration: underline;
}

.botao-delete {
    position: relative;
    display: flex;
    background: rgb(255, 0, 0);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    margin-top: 0.5em;
    text-align: center;
    margin: auto;
    margin-bottom: 10%;
    width: 100px;
    height: 100px;
    margin-top: 1%;
}

.rename_button {
    position: relative;
    display: flex;
    background: rgb(255, 255, 255);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5em;
    text-align: center;
    margin: auto;
    padding: 2px;
    margin-bottom: 10%;
    width: 100px;
    height: 100px;
    margin-top: 1%;
}

#trash_button {
    width: 80%;
    margin: auto;
}
#rename_button {
    width: 80%;
    margin: auto;
}

#tools {
    display: inline-block;
    display: flex;
    gap: 5%;
}
