#box {
    padding: 1em;
    background-color: rgb(64, 64, 64);
    margin: auto;
    width: 90%;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10em;
}

.botao-delete {
    width: 75px;
    height: 75px;
    margin-bottom: 1em;
    background-color: red;
}

.edit_button {
    width: 65px;
    height: 65px;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
}

#tools {
    padding: 1em;
    display: inline-block;
    justify-content: center;
    display: flex;
    gap: 1%;
}

#space {
    margin-top: 3em;
    margin-bottom: 3em;
    height: 2em;
    width: 2em;
}