
.arquivo {
    background-color: #333;
    margin: 0.5em auto;
    width: 90%;
    height: 3em;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arquivo .botao-delete {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.arquivo:hover .botao-delete {
    display: flex;
    opacity: 1;
}
.arquivo:hover {
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

a {
    color: cyan;
    text-decoration: none;
    font-weight: bold;
    margin: 5%;
}

a:hover {
    text-decoration: underline;
}

.botao-delete {
    position: relative;
    top: 100%;
    display: flex;
    background: rgb(255, 0, 0);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5em;
    text-align: center;
    margin: auto;
    margin-bottom: 1%;
    width: 40px;
    height: 40px;
}

#trash_button {
    width: 100%;
}

span {
    width: 80%;
}

#space {
    margin-bottom: 5em;
    width: 10%;
    height: 1em;
}