.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;
}

.video-card {
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.video-title {
    margin-top: 10px;
    font-size: 14px;
    word-break: break-all;
}

.botao-delete {
    position: relative;
    top: 100%;
    display: flex;
    background: rgb(255, 0, 0);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    margin-top: 0.5em;
    text-align: center;
    margin: auto;
    margin-bottom: 10%;
    width: 100px;
    height: 100px;
    margin-top: 1%;
}

#trash_button {
    width: 80%;
}
