<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/404_page.css">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>Gray Wolf System</title>
</head>
<body>
    <div id="topo"><h1 id="titulo">Gray Wolf System.</h1></div>
    <div id="caixa_login-1">
        <p id="error_text">ERROR: 404</p>
        <h2>Page not found!</h2>
        <img id="logo_imagem" src="../static/images/GrayWolf_512x.png" alt="logo-imagem">

    </div>
    <form action="/" method="GET">
            <button id="backButton" type="submit"><img src="../static/images/backButton_icon.png" alt=""></button>
        </form>
    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>