<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - Audios </title>
    <link rel="stylesheet" href="../static/backButton_style.css">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/buttons_style.css">
    <link rel="stylesheet" href="../static/audios.css">
</head>
<body>
    <div id="topo">
        <form action="/graywolf-audio" method="GET">
            <button id="backButton" type="submit"><img src="../static/images/backButton_icon.png" alt=""></button>
        </form>
        <h1 id="titulo">Gray Wolf System.</h1>
    </div>
    <h1>{{ subcategoria }}</h1>

    <ul>
        {% for arquivo in arquivos %}
            <li>
                <p>{{ arquivo }}</p>
                <audio controls>
                    <source src="{{ url_for('servir_audio', subcategoria=subcategoria, nome_arquivo=arquivo) }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
        {% endfor %}
    </ul>

    <div id="space"></div>

    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>   
</body>
</html>
