<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/document.css">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - Documentos</title>
</head>
<body>
    <div id="topo"><h1 id="titulo">Gray Wolf System.</h1></div>

    <div id="botoes-caixa">
        <form action="/graywolf-excel" method="GET">
            <button type="submit" id="excelPageButton"><img class="icon_button" src="../static/images/excel_icon.png" alt="excel_icon"><p class="text_button">Excel</p></button>    
        </form>
        <form action="/graywolf-pdf" method="GET">
            <button type="submit" id="pdfPageButton"><img class="icon_button" src="../static/images/pdf_icon.png" alt="pdf_icon"><p class="text_button">PDF</p></button>    
        </form>
        <form action="/graywolf-powerpoint" method="GET">
            <button type="submit" id="powerpointPageButton"><img class="icon_button" src="../static/images/pptx_icon.png" alt="powerpoint_icon"><p class="text_button">PowerPoint</p></button>    
        </form>
        <form action="/graywolf-word" method="GET">
            <button type="submit" id="wordPageButton"><img class="icon_button" src="../static/images/word_icon.png" alt="word_icon"><p class="text_button">Word</p></button>    
        </form>
        <form action="/graywolf-document-no-category" method="GET">
            <button type="submit" id="documentNoCategoryPageButton"><img class="icon_button" src="../static/images/document_icon.png" alt="document_no_category_icon"><p class="text_button">Outros</p></button>    
        </form>
        <form action="/graywolf-upload" method="GET">
            <button type="submit" id="uploadPageButton"><img class="icon_button" src="../static/images/upload_icon.png" alt="upload_icon"><p class="text_button">Upload</p></button>    
        </form>
    </div>
    <div id="botoes-caixa">
        <form action="/graywolf-back" method="GET">
            <button id="backButton" type="submit">Voltar para HomePage.</button>
        </form>
    </div>
    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>    
</body>
</html>