<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/backButton_style.css">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/buttons_style.css">
    <link rel="stylesheet" href="../static/documents.css">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - Documents</title>
</head>
<body>
    <div id="topo">
        <form action="/graywolf-document" method="GET">
            <button id="backButton" type="submit"><img src="../static/images/backButton_icon.png" alt=""></button>
        </form>
        <h1 id="titulo">Gray Wolf System.</h1>
    </div>
    <h2 style="text-align:center;">{{ categoria.upper() }}</h2>
    <div id="botoes-caixa">
        {% if arquivos %}
            
            <ul id="lista-arquivos">
                {% for arquivo in arquivos %}
                <li style="display: flex; align-items: center; justify-content: space-between;">
                    <!-- Link para download -->
                    <a class="link-download" href="{{ url_for('download_arquivo', categoria=categoria, nome_arquivo=arquivo) }}" download>{{ arquivo }}</a>

                    <!-- Botão de deletar -->
                    <form method="POST" action="/graywolf-delete-file" style="display: inline;">
                        <input type="hidden" name="file_path" value="GWFiles/document/{{ categoria_pasta }}/{{ arquivo }}">
                        <button type="submit" class="botao-delete" style="margin-left: 10px;">
                            <img id="trash_button" src="../static/images/trash_icon.png" alt="" style="width: 20px;">
                        </button>
                    </form>
                </li>
                {% endfor %}
            </ul>

        {% else %}
            <p style="text-align:center;">There is no file here.</p>
        {% endif %}
    </div>

    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>
</body>

</html>