<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/backButton_style.css">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/buttons_style.css">
    <link rel="stylesheet" href="../static/documents.css">
    <link rel="stylesheet" href="../static/filter.css">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - Documents</title>
</head>
<body>
    <div id="topo">
        <form action="/graywolf-document" method="GET">
            <button id="backButton" type="submit"><img src="../static/images/backButton_icon.png" alt=""></button>
        </form>
        <h1 id="titulo">Gray Wolf System</h1>
    </div>
    
    <div id="space"></div>
    <h2 style="text-align:center;">{{ categoria.upper() }}</h2>

    <form id="filter-space" method="GET" action="/graywolf-uploadFiles">
        <input type="search" name="filterFileName" id="filterFileName" placeholder="File Name...">
        <select name="filterExtension" id="filterExtension">
            <option value="">All</option>
            <option value=".pdf">.pdf</option>
            <option value=".xlsx">.xlsx</option>
            <option value=".docx">.docx</option>
            <option value=".pptx">.pptx</option>
        </select>
        <button type="submit" id="filterConfirm">🔍</button>
    </form>

    <div id="botoes-caixa">
        {% if arquivos %}
            
            <ul id="lista-arquivos">
                {% for arquivo in arquivos %}
                <li style="display: flex; align-items: center; justify-content: space-between;">
                    <a class="link-download" href="{{ url_for('download_arquivo', nome_arquivo='document/' ~ categoria_pasta ~ '/' ~ arquivo) }}" download>{{ arquivo }}</a>

                    <div id="tools">
                        <form method="GET" action="{{ url_for('graywolf_rename_file_form') }}">
                            <input type="hidden" name="file_path" value="GWFiles/document/{{ categoria_pasta }}/{{ arquivo }}">
                            <button type="submit" class="rename_button">
                                <img src="{{ url_for('static', filename='images/rename_icon.png') }}" alt="Renomear">
                            </button>
                        </form>

                        <form method="POST" action="/graywolf-delete-file" style="display: inline;">
                            <input type="hidden" name="file_path" value="GWFiles/document/{{ categoria_pasta }}/{{ arquivo }}">
                            <button type="submit" class="botao-delete">
                                <img id="trash_button" src="../static/images/trash_icon.png" alt="">
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>

        {% else %}
            <p style="text-align:center;">There is no file here.</p>
        {% endif %}
    </div>
    
    <div id="space"></div>
    
    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>
</body>

</html>