<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - HomePage</title>
</head>
<body>
    <div id="topo"><h1 id="titulo">Gray Wolf System</h1></div>

    <div id="botoes-caixa">
        <form action="/graywolf-document" method="GET">
            <button type="submit" id="documentPageButton"><img class="icon_button" src="../static/images/document_icon.png" alt="document_icon"><p class="text_button">Document</p></button>    
        </form>
        <form action="/graywolf-text" method="GET">
            <button type="submit" id="textPageButton"><img class="icon_button" src="../static/images/text_icon.png" alt="text_icon"><p class="text_button">Text</p></button>
        </form>
        <form action="/graywolf-audio" method="GET">
            <button type="submit" id="audioPageButton"><img class="icon_button" src="../static/images/audio_icon.png" alt="audio_icon"><p class="text_button">Audio</p></button>
        </form>
        <form action="/graywolf-image" method="GET">
            <button type="submit" id="imagePageButton"><img class="icon_button" src="../static/images/image_icon.png" alt="image_icon"><p class="text_button">Image</p></button>
        </form>
        <form action="/graywolf-video" method="GET">
            <button type="submit" id="videoPageButton"><img class="icon_button" src="../static/images/video_icon.png" alt="video_icon"><p class="text_button">Video</p></button>
        </form>
        <form action="/graywolf-chat" method="GET">
            <button type="submit" id="chatPageButton"><img class="icon_button" src="../static/images/chat_icon.png" alt="chat_icon"><p class="text_button">Chat<br>(coming soon)</p></button>    
        </form>
        <form action="/graywolf-console" method="GET">
            <button type="submit" id="consolePageButton"><img class="icon_button" src="../static/images/console_icon.png" alt="console_icon"><p class="text_button">Terminal<br>(coming soon)</p></button>    
        </form>
        <form action="/graywolf-uploadFiles" method="GET">
            <button type="submit" id="uploadFilesPageButton"><img class="icon_button" src="../static/images/geral_files_icon.png" alt="upload_Files_icon"><p class="text_button">Uploads</p></button>    
        </form>
        <form action="/graywolf-upload" method="GET">
            <button type="submit" id="uploadPageButton"><img class="icon_button" src="../static/images/upload_icon.png" alt="upload_icon"><p class="text_button">Upload</p></button>    
        </form>
        <form action="/graywolf-trash" method="GET">
            <button type="submit" id="trashPageButton"><img class="icon_button" src="../static/images/trash_icon.png" alt="trash_icon"><p class="text_button">Trash<br>(coming soon)</p></button>    
        </form>
        <form action="/graywolf-register" method="GET">
            <button type="submit" id="registerPageButton"><img class="icon_button" src="../static/images/register_icon.png" alt="register_icon"><p class="text_button">Register<br>(Admin Only)</p></button>    
        </form>
        <form action="/graywolf-stats" method="GET">
            <button type="submit" id="statsButton"><img class="icon_button" src="../static/images/stats_icon.png" alt="stats_icon"><p class="text_button">Stats<br>(Admin Only)</p></button>    
        </form>
        <form action="/graywolf-logout" method="GET">
            <button type="submit" id="logoutButton"><img class="icon_button" src="../static/images/exit_icon.png" alt="exit_icon"><p class="text_button">Logout</p></button>    
        </form>
    </div>

    <div id="space"></div>

    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>    
</body>
</html>