<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/backButton_style.css">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/buttons_style.css">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - Image</title>
</head>
<body>
    <div id="topo">
        <form action="/graywolf-back" method="GET">
            <button id="backButton" type="submit"><img src="../static/images/backButton_icon.png" alt=""></button>
        </form>
        <h1 id="titulo">Gray Wolf System.</h1>
    </div>

    <div id="botoes-caixa">
        <form action="/graywolf-photo" method="GET">
            <button type="submit" id="photoPageButton"><img class="icon_button" src="../static/images/photo_icon.png" alt="photo_icon"><p class="text_button">Photo</p></button>    
        </form>
        <form action="/graywolf-screenshot" method="GET">
            <button type="submit" id="screenshotPageButton"><img class="icon_button" src="../static/images/screenshot_icon.png" alt="screenshot_icon"><p class="text_button">ScreenShot</p></button>    
        </form>
        <form action="/graywolf-image-no-category" method="GET">
            <button type="submit" id="imageNoCategoryPageButton"><img class="icon_button" src="../static/images/image_no_category_icon.png" alt="image_no_category_icon"><p class="text_button">Images</p></button>    
        </form>
        <form action="/graywolf-upload" method="GET">
            <button type="submit" id="uploadPageButton"><img class="icon_button" src="../static/images/upload_icon.png" alt="upload_icon"><p class="text_button">Upload</p></button>    
        </form>
    </div>

    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>    
</body>
</html>