<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - Images</title>
    <link rel="stylesheet" href="../static/backButton_style.css">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/buttons_style.css">
    <link rel="stylesheet" href="../static/images.css">
</head>
<body>
    <div id="topo"><h1 id="titulo">Gray Wolf System.</h1></div>
    <h1>{{ subcategoria }}</h1>

    <div class="galeria">
        {% for imagem in imagens %}
            <img src="/imagem/{{ subcategoria }}/{{ imagem }}" alt="Imagem" class="miniatura" onclick="abrirModal(this.src)">
        {% endfor %}
    </div>


    <div id="modal" class="modal" onclick="fecharModal()">
        <span class="Close">&times;</span>
        <img class="modal-conteudo" id="imagem-ampliada">
        <form method="POST" action="/graywolf-delete-file">
            <input type="hidden" name="file_path" id="file_path_input" value="">
            <button type="submit" class="botao-delete"><img id="trash_button" src="../static/images/trash_icon.png" alt=""></button>
        </form>
    </div>

    <div id="botoes-caixa">
        <form action="/graywolf-image" method="GET">
            <button id="backButton" type="submit">Back to Categories.</button>
        </form>
    </div>

    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>   
    <script src="../static/images.js">
    </script>
</body>
</html>
