<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>Gray Wolf System</title>
</head>
<body>
    <div id="topo"><h1 id="titulo">Gray Wolf System</h1></div>

    <main>
        <div id="caixa_login-1">
            <img id="logo_imagem" src="../static/images/GrayWolf_512x.png" alt="logo-imagem">
            <p id="texto_1">Please fill in the spaces below.</p>
            <form action="/graywolf-homepage" method="POST">
                <div id="caixa-login-2">
                    <input type="text" name="nome_usuario" id="nome_usuario" required placeholder="Username"><br>
                    <input type="password" name="senha_usuario" id="senha_usuario" required placeholder="Password"><br>
                </div>
                <div class="botoes_logon">
                    <button class="botao_login">Enter</button>
                </div>          
            </form>
        </div>
    </main>

    <div id="roda_pe">
        <p>Copyright GrayWolf 2025</p>
    </div>

    <script src="../static/script.js"></script>
</body>

</html>