<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/backButton_style.css">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/buttons_style.css">
    <link rel="stylesheet" href="../static/uploads.css">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - Uploads</title>
</head>
<body>
    <div id="topo">
        <form action="/graywolf-back" method="GET">
            <button id="backButton" type="submit"><img src="../static/images/backButton_icon.png" alt=""></button>
        </form>
        <h1 id="titulo">Gray Wolf System.</h1>
    </div>
    {% if arquivos %}
        {% for arquivo in arquivos %}
            <div class="arquivo">
                <span>{{ arquivo }}</span>
                <a href="{{ url_for('download_arquivo', nome_arquivo=arquivo) }}">Download</a>
                <form method="POST" action="/graywolf-delete-file">
                    <input type="hidden" name="file_path" value="{{ arquivo }}">
                    <button type="submit" class="botao-delete"><img id="trash_button" src="../static/images/trash_icon.png" alt=""></button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>No file found...</p>
    {% endif %}
    <div id="space"></div>
    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>    
</body>
</html>