<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/upload.css">
    <title>GWS - Upload</title>
</head>
<body>
    <div id="topo"><h1 id="titulo">Gray Wolf System.</h1></div>

    <form action="/graywolf-upload-file" method="POST" enctype="multipart/form-data">
        <div id="upload-caixa">
            <LABEl>Escolha onde salvar o arquivo:</LABEl>
            <select name="chooseFile" id="chooseFile" required>
                <option value="">Escolha a categoria</option>
                <option value="audio">Audio</option>
                <option value="documents">Documentos</option>
                <option value="image">Imagens</option>
                <option value="text">Texto</option>
                <option value="video">Videos</option>
                <option value="geral">Geral</option>
            </select>
            <br>
            <label>Subcategoria:</label>
            <select name="subCategory" id="subCategory" required>
                <option value="">Selecione uma subcategoria</option>
            </select>
            <br>
            <input type="file" name="file" id="file" multiple required>
            <progress id="uploadProgress" value="0" max="100" style="width: 100%; display: none;"></progress>
            <p id="uploadStatus" style="text-align:center; font-weight: bold;"></p>
            <button type="submit">Enviar</button>
        </div>
    </form>
    <div id="botoes-caixa">
        <form action="/graywolf-back" method="GET">
            <button id="backButton" type="submit">Voltar para HomePage.</button>
        </form>
    </div>
    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>
    <script src="../static/upload.js">
        
    </script>

</body>
</html>