<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/upload.css">
    <title>GWS - Upload</title>
</head>
<body>
    <div id="topo"><h1 id="titulo">Gray Wolf System.</h1></div>

    <form action="/graywolf-upload-file" method="POST" enctype="multipart/form-data">
        <div id="upload-caixa">
            <h2>Choose where to save the file:</h2>
            <select name="chooseFile" id="chooseFile" required>
                <option value="">Choose the category</option>
                <option value="audio">Audio</option>
                <option value="document">Document</option>
                <option value="image">Image</option>
                <option value="text">Text</option>
                <option value="video">Video</option>
                <option value="geral">Others</option>
            </select>
            <br>
            <h2>Subcategory:</h2>
            <select name="subCategory" id="subCategory" required>
                <option value="">Select a subcategory</option>
            </select>
            <br>
            <p><input type="checkbox" name="public" value="yes"> Public file</p>
            <br>
            <input type="file" name="file" id="file" multiple required>
            <progress id="uploadProgress" value="0" max="100" style="width: 100%; display: none;"></progress>
            <p id="uploadStatus" style="text-align:center; font-weight: bold;"></p>
            <button type="submit">Upload</button>
        </div>
    </form>
    <div id="botoes-caixa">
        <form action="/graywolf-back" method="GET">
            <button id="backButton" type="submit">Back to HomePage.</button>
        </form>
    </div>
    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>
    <script src="../static/upload.js">
        
    </script>

</body>
</html>