<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - Videos</title>
    <link rel="stylesheet" href="../static/backButton_style.css">
    <link rel="stylesheet" href="../static/base_style.css">
    <link rel="stylesheet" href="../static/buttons_style.css">
    <link rel="stylesheet" href="../static/videos.css">
</head>
<body>
    <div id="topo">
        <form action="/graywolf-video" method="GET">
            <button id="backButton" type="submit"><img src="../static/images/backButton_icon.png" alt=""></button>
        </form>
        <h1 id="titulo">Gray Wolf System.</h1>
    </div>
    <h1>{{ subcategoria.capitalize() }}</h1>

    <div class="video-grid">
        {% for video in arquivos %}
        <div class="video-card">
            <button class="load-video-btn" data-src="{{ url_for('servir_video', subcategoria=subcategoria, nome_arquivo=video) }}">
                ▶ {{ video }}
            </button>

            <!-- container onde o vídeo vai aparecer -->
            <div class="video-container"></div>

            <!-- form de delete -->
            <form method="POST" action="/graywolf-delete-file" class="delete-form" data-file-path="GWFiles/video/{{ subcategoria }}/{{ video }}">
                <input type="hidden" name="file_path" value="">
                <button type="submit" class="botao-delete"><img id="trash_button" src="../static/images/trash_icon.png" alt=""></button>
            </form>
        </div>

        {% endfor %}
    </div>
    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>

    <script src="../static/videos.js"></script>
</body>
</html>
