<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/video.css">
    <link rel="shortcut icon" href="../static/images/GrayWolf_512png.png" type="image/x-icon">
    <title>GWS - Videos</title>
</head>
<body>
    <div id="topo"><h1 id="titulo">Gray Wolf System.</h1></div>

    <div id="botoes-caixa">
        <form action="/graywolf-video/movie" method="GET">
            <button type="submit" id="moviePageButton">
                <img class="icon_button" src="../static/images/movie_icon.png" alt="movie_icon">
                <p class="text_button">Filme</p>
            </button>    
        </form>

        <form action="/graywolf-video/serie" method="GET">
            <button type="submit" id="seriePageButton">
                <img class="icon_button" src="../static/images/serie_icon.png" alt="upload_icon">
                <p class="text_button">Série</p>
            </button>    
        </form>

        <form action="/graywolf-video/video_no_category" method="GET">
            <button type="submit" id="videoNoCategoryPageButton">
                <img class="icon_button" src="../static/images/video_no_category_icon.png" alt="video_no_category_icon">
                <p class="text_button">Video Geral</p>
            </button>    
        </form>

        <form action="/graywolf-upload" method="GET">
            <button type="submit" id="uploadPageButton">
                <img class="icon_button" src="../static/images/upload_icon.png" alt="upload_icon">
                <p class="text_button">Upload</p>
            </button>    
        </form>

    </div>
    <div id="botoes-caixa">
        <form action="/graywolf-back" method="GET">
            <button id="backButton" type="submit">Voltar para HomePage.</button>
        </form>
    </div>
    <div id="roda_pe">
        <p>Copyright GrayWolf 2025.</p>
    </div>    
</body>
</html>